@charset "utf-8";
/* CSS Document */

/* --- 样式初始化 ---*/
body{font-family:arial,"microsoft yahei", Verdana,Arial,Helvetica,sans-serif; padding:0; margin:0;font-size:12px; color:#505050; background:#f3f3f3;min-width:320px; height:100%;overflow-x:hidden;}

body, div, object, iframe, h1, h2, h3, h4, h5, h6, p, span, i, img, ol, ul, li, dl, dd, dt{padding:0;margin:0; border:none;}
	
html, body, form, fieldset, p, div, h1, h2, h3, h4, h5, h6 { -webkit-text-size-adjust:none;}
   
ul,li{ list-style:none outside none;}
	 
h1, h2, h3, h4, h5, h6, strong{font-weight:normal;list-style:none;}

table,td,tr{border-collapse:collapse;}



	
/*统一头像显示在上方
img{vertical-align:top;}*/

em {padding:0px 5px; font-style:normal;}
	 
a{ color:#4ca7fd; outline:0;}
.link_style{text-decoration:none;}

/*---caret即插入符标记---*/	/*-webkit-appearance: none;-----把浏览器的元素默认样式去掉*/
input[type="text"], input[type="email"], input[type="search"], input[type="password"] {	-webkit-appearance: caret;-moz-appearance: caret;}
	
/*--input：placeholder标签---*/	
::-webkit-input-placeholder { color:#d9d9d9; } 

input:-moz-placeholder { color:#d9d9d9; }

/*---button——文字垂直居中---*/
button::-moz-focus-inner, input::-moz-focus-inner {border:0 none;  margin:0;  padding:0; }
	 
input, select, option, button, textarea { 
	font-family:"Microsoft Yahei","Tahoma","SimSun"; 
	font-size: 100%; 
	vertical-align:middle; 
	outline:0 none; 
	-webkit-appearance:none; 
	padding:0px; 
	margin:0px; 
	border-radius:0px; 
	border:none;
	}
	
textarea { resize:none;}

.clearfix:after { 
	visibility:hidden; 
	display:block; 
	font-size:0; 
	content:" "; 
	clear:both; 
	height:0;
	}
	
.clearfix{ 
	zoom:1; 
	clear:both;
	}
	
/*html,body{
	margin:0;
	}*/

body,button,input,select,textarea{
	font-size:14px;
	font-family:微软雅黑;
}

body{
	display:block;
   }
 
 
 /* --- 共同样式 ---*/
.l{ float:left;}
.r{ float:right;}
.center{ text-align:center;}
.dl{display:inline;}
.dlb{display:inline-block;}
.db{display:block;}
.dis_none{ display:none;}
.ps_relative{position:relative;}
.ps_absolute{position:absolute;}
.over_hidden{overflow:hidden;}
.overX_hidden{overflow-x:hidden;}
.overY_hidden{overflow-y:hidden;}




/*--宽度百分比--*/
.w100{width:100%;}
.h100{height:100%;}





/*--内留白5px--*/
.p5{ padding:5px;}
.pt5{padding-top:5px;}
.pb5{padding-bottom:5px;}
.pl5{padding-left:5px;}
.pr5{padding-right:5px;}

/*---内留白10px---*/
.p10{ padding:10px;}
.pt{padding-top:10px;}
.pb10{padding-bottom:10px;}
.pl10{padding-left:10px;}
.pr10{padding-right:10px:}

/*---内留白20px---*/
.p20{padding:20px;}
.pt20{padding-top:20px;}
.pb20{padding-bottom:20px;}
.pl20{padding-left:20px;}
.pr20{padding-right:20px;}


/*---外留白5px---*/
.m5{ margin:5px;}
.mt5{ margin-top:5px;}
.mb5{ margin-bottom:5px;}
.ml5{ margin-left:5px;}
.mr5{ margin-right:5px;}


/*---外留白10px---*/
.m10{ margin:10px;}
.mt10{ margin-top:10px;}
.mb10{ margin-bottom:10px;}
.ml10{ margin-left:10px;}
.mr10{ margin-right:10px;}

/*---外留白10px---*/
.m20{margin:20px;}
.mt20{ margin-top:20px;}
.mb20{ margin-bottom:20px;}
.ml20{ margin-left:20px;}
.mr20{ margin-right:20px;}

/*---内留白30px---*/
.pt30{padding-top:30px;}
.pb30{padding-bottom:30px;}



.mlr-5{ margin-left:-5px; margin-right:-5px;}
.m-3{ margin:-3px;}

/*---垂直对齐（上、右、下、左）---*/
.ver-t{vertical-align:top;}
.ver-r{vertical-align:right;}
.ver-b{vertical-align:bottom;}
.ver-l{vertical-align:left;}
.ver-m{vertical-align:middle;}



/*---文本垂直对齐居中---*/
.textC{text-align: center;}
.textL{text_align: left;}
.textR{text_align: right;}

/*---层级设置---*/
.zi-1{z-index:-1;}
.zi1{z-index:1;}


/*---字体颜色---*/
.red{ color:#ff4646;}
.green{ color:#7ccd13;}
.orange{ color:#ffa646;}
.blue{ color:#62acf2;}
.gray{ color:#b1b1b1;}
.universalColor{ color:#444;}
.cl-green{color:#00cd18;}
.cl-orange{color:#f24e06;}
.cl-gray{color:#ddd;}
.cl-blue{color:#4ca7fd;}
.black{color:#505050;}
.white{color:#fff;}
.cl-b4{color:#b4b4b4;}
.cl-f84803{color:#f84803;}


/*---字体大小---*/
.fs12{font-size:12px;}
.fs18{font-size:18px;}
.fs16{font-size:16px;}


/*---图片大小---*/


/*--字体不换行(对象溢出文本框时，显示溢出状态.....三个必须配合使用)--*/
.nowrap{ overflow:hidden; white-space:nowrap; text-overflow:ellipsis;}


/*---背景颜色---*/
.white_bg{background-color:#fff;}
.green_bg{background-color:#7ccd13;}
.blue_bg{background-color:#4ca7fd;}
.orange_bg{background-color:#ffa646;}
.gray_bg{background-color:#f3f3f3;}
.black_bg{background-color:#1d2228;}
.bg_5582ad{background-color:#5582ad;}

/*--鼠标手--*/
.mouse{cursor:pointer;}



/*---蓝色字体通用样式（居中）+<p>块状元素---*/
.blue_font{text-align:center;color:#48aaf8;}

/*---固定头部公共样式---*/
.head_nav{position:fixed;top:0;left:0;right:0;text-align:center;}
 
 /*---紧邻按钮提示语位置像素---*/
 .nxtNotes_btn{margin:-18px 10px 0;text-align:center;}
 
 /*---flex伸缩盒型声明代码（公用代码）---*/
.fl-box{display:-webkit-box;diaplay:box;display:-moz-box;}
			.bx-flex1{box-flex:1;-webkit-box-flex:1;-moz-box-flex:1;}
			.bx-flex2{box-flex:2;-webkit-box-flex:2;-moz-box-flex:2;}
/*--添加边框--*/
.bb{border-bottom:1px solid #ddd;}
.bt{border-top:1px solid #ddd;}
.bl{border-left:1px solid #ddd;}
.br{border-right:1px solid #ddd;}
 
 /*---button类---*/
 
 /*---自适应100%填充网页的按钮控件---*/
.button{height:auto; overflow:hidden;position:relative;margin-top:0px;margin-left:9px;margin-right:9px;}
.input1,.input2_freetime{display:block; width:100%;text-align:center;padding:13px 0; color:#fff;font-size:16px;line-height:22px; border-radius:10px;} 
/*---限时免费蓝色按钮样式（100%填充网页）---*/
.input2_freetime{background:#4ca7fd url(../Img/etc/timefree.png) no-repeat top right;}
.bt_book,.bt_console{display:block;width:45%;border-radius:10px;color:#fff;text-align:center;padding:5px;color:#fff;line-height:20px;text-align:center;}
	.bt_book{background:#ffa646;}
	.bt_console{background:#7ccd13;}

/*.button a{
	display:block;
	text-align:center; 
	padding:14px 0;
	color:#fff; 
	font-size:16px;
	line-height:22px;
	background:#4ca7fd;
	border:0px none;
	border-radius:5px;
	margin-top:31px;
	margin-left:17px;
	margin-right:17px;
	}
.button img{ 
	height:22px;
	margin-right:4px;
	 }
	 */

/*--车辆绑定信息---*/
.binding{margin:10px;height:60px;}
	.binding a{right:5px;height:auto;position:absolute;margin:10px 22px;}
		.bt_b{margin-bottom:28px;}
		.bt_b1{margin-bottom:20px;}

.mainC_list{margin:10px 10px 0px 10px; border-radius:10px;background:#fff;border:1px #ddd solid; position:relative; zoom:1; overflow:hidden;}
	.bd_txt{height:53px;line-height:53px;border-bottom:1px #ddd solid;font-size:20px;padding-left:10px;}
		.bd_txt1{height:161px;overflow:hidden;border-bottom:1px solid #ddd;margin-left:10px;}
.mainC_list table{height:100%;width:100%; overflow:hidden;}
	.bt_cs{border-radius:8px;color:#fff;text-align:center;padding:5px 18px; box-shadow: 0 2px 1px #ddd; -webkit-box-shadow: 0 2px 1px #ddd;}
	.bt_assemble{border-radius: 8px; background: url(../Img/etc/add.png) no-repeat left 5px center #fff; background-size: 15px 15px; border: 2px solid #4ca7fd;padding: 2px 15px 5px 21px; color: #4ca7fd; text-align: right;}
.bt_algn{padding-left:6px;}



/*---我的钱包---*/
	.wallet_header {background:#fff;padding:40px 15px 25px;overflow:hidden;}
	.wallet_header1 img{ float:left;width:100px;height:100px;border-radius:50%; border:1px solid #ccc;}
	.wallet_header2{ display:box; display:-webkit-box;background:#fff;border-top:1px solid #ddd;border-bottom:1px solid #ddd;}
		.wallet_header2 div{box-flex:1; -webkit-box-flex:1; text-align:center;border-left:1px solid #ddd;padding:20px 20px 20px 42px;}
			.wallet_header2 div img{ vertical-align:top; margin-top:5px;}
			.wallet_header2 div ul{display:inline-block; margin-left:5px; color:#969696;}


/*--部分：账户信息--*/
.infor{ margin-left:100px; padding:20px 15px; width:200px;}
	.infor p{color:#b0b0b0; font-size:16px; height:20px; line-height:20px; margin-bottom:15px;}
	.infor p span{ margin-left:10px; color:#f24e06;}
		.infor .yh_name{ font-size:20px;}
		
/*--部分：抵用券--*/
.w_main{background:#fff;margin:23px 0; height:320px;border-top:1px solid #ddd;border-bottom:1px solid #ddd; margin-bottom:1px solid #ddd;}
	.w_main .toper{margin:10px 0 10px 10px;border-bottom:1px solid #ddd; padding:10px;padding-bottom:19px;}
		.w_main .toper img{float:left}
			.w_main .toper span{color:#969696;margin-left:15px;}
		
	.quan,.minfooter{width:95%;}
	.quan{height:136px; border:1px solid #ddd; border-top:0px;border-bottom:0px;margin:40px auto 0;cursor:pointer;}
		.border_style{background:url(../Img/my_wallet/border.png) repeat-x;height:15px;}
		.bg_topR{background:url(../Img/my_wallet/quan.png) no-repeat top right;}
		.gou_algn{margin-top:-14px;cursor:point;}
			.gou_topR{background:url(../Img/etc/gou.png) no-repeat top right; height:64px;}
				.quan_algn{position:relative;}
			.price{margin-left:7%; padding-right:20px;margin-top:20px;}
				.price font,.price span{color:#ff9c00;}
					.price font{font-size:18px; vertical-align:bottom;}
					.price span{font-size:50px;vertical-align:top;}
			.price_infor{margin-top:13px;color:#969696;margin-top:34px;}
	.minfooter{margin:0 auto;height:30px;}
		.fontstyle{color:#fff;font-size:18px;font-weight:bold;margin:10px;line-height:30px;}
		.bgc-orange{background:#ff9c00;border:1px solid #ff9c00;}
		.bgc-red{background:#f24e06;border:1px solid #f24e06;}
	
				
					
/*---部分：我的红包---*/

			
/*---零钱明细---*/
.change_bg{background:#fff;}
	.change_bg .hang_algn{padding:20px;border-bottom:1px solid #ddd;}
		.change_bg .hang_algn p .hang_font1{color:#646464;font-size:20px;}
			.change_bg .hang_algn p .hang_font2{color:#969696;}	
    .number{font-size:20px;float:right;margin-top:-40px;}

	
/*---移动车辆说明---*/
/*————无序列表解释说明排版(.explanation_txt,.ultxt_new,.litxt_new为一组)---*/
.explanation_txt{margin:0 20px 0 0;}
	.ultxt_new{padding-left:40px;}
	.litxt_new{list-style-type:disc;height:35px;line-height:30px;text-align:justify; text-justify:inter-ideograph;}

	
/*---扫描按钮样式————扫描手机---*/
.btn_scanner img{border-radius:50%;width:155px;height:155px; margin:80px auto 120px;display:block; box-shadow: 0 10px 10px #ddd;-webkit-box-shadow: 0 10px 10px #ddd;-moz-box-shadow: 0 10px 10px #ddd;}
.btn_scanner a span{color:#fff;display:block;margin:-168px auto 130px; text-align:center;}


/*---呼叫手机---*/
.explation_center{text-align:center;margin-top:10px;}
	.bt_callnum{background-color:#fff;vertical-align:middle;color:#4ca7fd;border:1px solid #4ca7fd;text-align:center;padding:4px 45px;border-radius:3px;}	
		.explation_center span{display:block;padding-top:10px;width:79%;margin:0 auto;}
		
/*---申请挪车牌（登记表单格式样式)---*/
.colum{height:52px; border-bottom:1px solid #ddd;}
	.l-colum{border-right:1px solid #ddd;margin:15px;height:24px;float:left;width:24%;clear:both;}
	.input_colum{padding-top:19px;}
	.textarea_colum{overflow:hidden;border:none;margin-top:50px;}
	.bt_credit{background-color:#4ca7fd;color:#fff;border-radius:0 0 10px; padding:15.5px;text-align:center; border:1px solid #4ca7fd;}

/*---申请挪车牌头部---*/
.mCar_top{height:41px;line-height:41px;background-color:#fd5854;color:#fff;}
	.mCar_top p span{color:#fed803;}
	
/*---申请挪车完成标志---*/
.sCar_tag .dagou{margin:80px auto 0;display:block; }
.sCar_tag p{text-align:center;margin-top:8px;font-size:16px;}
      .red_notes{font-size:20px;color:#f93f42;}
	  .onestar{position:relative;right:60px;top:-10px;}
	  .blue_notes{color:#224e96;}
	  
	 
/*---收款页面---*/
.gather_nav{height:200px;background-color:#9dd6fe;border:1px solid #9dd6fe;}
	.gather_top{margin:38px 2%;}
	.input_search{border-radius:7px;height:45px;background:/*url(../Img/etc/search.png) no-repeat right*/ #fff; position:relative;cursor:pointer;}
		.search_l{border-right:1px solid #ddd;width:24%;display:inline-block;margin:12px;position:relative;}
		.search_colum{}
/*		.ss_box{display:-webkit-box; display:box;}
			.ss_box p{-webkit-box-flex:2; box-flex:2; width:100%;}
			.ss_box i{font-style:normal;width:auto; -webkit-box-flex:1; box-flex:1;}
		.ss{ width:60px; height:45px; background:#4c7afd; border-radius:0px 5px 5px 0px;}*/
.ss_box1{display:-webkit-box; display:box; background-color:#fff; border-radius:7px;}
	.ss_box1 div{-webkit-box-flex:2; box-flex:2; background:#FFF; padding:10px; text-align:center; border-radius:7px 0px 0px 7px; vertical-align:middle;}
	.input_txt{display:block;border-right:1px solid #ddd;padding:2px;text-align:center;padding-right:10px;white-space:nowrap;}
	.ss_box1 p{-webkit-box-flex:3; box-flex:3; }
		.ss_box1 p .input_user{ height:25px; width:100%;margin:10px 0px; padding:0px 10px;}
	.ss_box1 i{font-style:normal;-webkit-box-flex:1; box-flex:1;}
		.ss_box1 i .isearch{ background:url(../Img/etc/search.png) no-repeat center #4CA7FD;  width:55px; height:45px; border-radius:0px 7px 7px 0px; cursor:pointer; }
.ss_box2{display:-webkit-box; display:box; background-color:#fff; border-radius:7px; margin:20px 0px;}
	.ss_box2 div{-webkit-box-flex:2; box-flex:2; background:#FFF; padding:10px; text-align:center; border-radius:7px 0px 0px 7px; }
	.ss_box2 p{-webkit-box-flex:3; box-flex:3; }
		.ss_box2 p .input_money{ height:25px; margin:10px 0px; padding:0px 10px;}	
	.ss_box2 i{font-style:normal;-webkit-box-flex:1; box-flex:1;}
		.ss_box2 i .isearch{ background:#FFF;  width:55px; height:45px; border-radius:0px 7px 7px 0px; }
		.inputClist{border-radius:7px;height:45px;background-color:#fff;position:relative;}
		
.gather_main{height:183px;background-color:#fff;border-bottom:1px solid #ddd;}
	.gather-hang1{border-bottom:1px solid #ddd;padding:22px;}
	.gather-hang2{border-bottom:1px solid #ddd;padding:22px 0 22px 22px;}
		.gather-hang1 span,.gather-hang2 span{margin-left:15px;}
	  	.gather-hang1 em,.gather-hang2 em{float:right;color:#969696;}
			.point_r{display:inline-block;font-size:26px;margin-top:-10px;padding-left:0px;}
.gather_footer{height:50px;border-top:1px solid #ddd;position:fixed;bottom:0px;margin-top:39px;width:100%;}
	.gatherfooter_l,.gatherfooter_r{width:100%;background-color:#fff;color:#f24e06;text-align:center;height:50px;line-height:50px;}
	.gatherfooter_l{background-color:#fff;color:#f24e06;-webkit-box-flex:0.5;;-moz-box-flex:0.5;box-flex:0.5;padding-left:22px;text-align:left;}
	.gatherfooter_r{background-color:#4ca7fd;color:#fff;cursor:pointer;}
	.gatherfooter_border{background-color:#f3f3f3;height:90px;width:100%;position:fixed;bottom:0px;border-top:1px solid #ddd;}
	 
/*--更多功能(优化代码全部完成后，可全删掉)--*/
.fun_algn {width:100%;}
.fun_algn tr td{border:1px solid #ddd;height:155px;width:50%;text-align:center;}
.fun_algn tr td span{font-size:16px;display:block; color:#7d7d7d;margin-top:10px;}

/*--新车展厅--*/
.car_head{border-bottom:1px solid #ddd;padding:10px;}
.car_head em{float:right;color:#ddd;}
.car_main{height:120px; width:100%;}
	.car_main th{text-align:left;font-weight:400;border-bottom:1px solid #ddd;padding:10px; }
		.car_main em{float:right;color:#ddd;}	
	.clist_left,.clist_right{padding-bottom:10px;}
	.clist_left{float:right;}
	.clist_right{float:left;}
	.car_img{border:1px solid #ddd;margin:10px;cursor:pointer;width:140px;height:110px;}
	 .car_tag{text-align:center;}
		.car_data1{color:#ddd;display:block;text-align:center;font-size:12px;}
		.img_w140h110{max-width:140px;max-height:110px;}
		.img_w25h15{max-width:25px;max-height:15px;}
		
/*--品牌车辆展示详情--*/
.img_scale50{max-width:100px; max-height:50px; scale:expression((this.offsetWidth > this.offsetHeight)?(this.style.width = this.offsetWidth >=100 ? "100px" : "auto"):(this.style.height = this.offsetHeight >= 50 ? "50px" : "auto")); display:inline !important;vertical-align:middle;}
.car_infoR{margin-left:70px;margin-top:-48px;}
	.car_infoR img{width:20px;}
.car_nav{background:#999;height:25px; padding:10px;}
	.car_nav li{height:30px; float:left;text-align:center;line-height:25px;padding-right:10px;}
	.car_nav li .navdown,.car_nav li .active{background:#3D3D3D;padding:5px;}
	.car_menulist{padding-top:20px;padding-bottom:10px;position:relative;overflow:hidden;}
	.twobtn_algn{position:absolute;float:right;display:inline;bottom:10px;right:10px;}
		.twobtn_algn p{float:left;margin-right:20px;}
	
/*--车辆性能展示表--*/
.gray_bg ul{float:right;font-size:12px;}
	.gray_bg ul li{float:right;width:42px; }
	.car_clist{border:1px solid #ddd;width:100%;}
		.car_clist td,.car_clist th{border:1px solid #ddd;}
	.car_clist th{ text-align:right; font-weight:400; padding-right:10px;width:150px;background:#f3f3f3;}
	.car_clist td{ text-align:center; }

/*--车辆菜单--*/
/*.car_menu{border:1px solid #ddd;border-radius:10px;padding:5px;margin:10px;height:auto;}*/
.menu{border:1px solid #ddd;border-radius:10px;margin:10px;height:auto;}
	.menu li {border-bottom:1px solid #ddd;height:35px;line-hright:35px;padding:5px;overflow:hidden;}
	.img_scale35{max-width:65px; max-height:35px; scale:expression((this.offsetWidth > this.offsetHeight)?(this.style.width = this.offsetWidth >=65 ? "35px" : "auto"):(this.style.height = this.offsetHeight >=35 ? "35px" : "auto")); display:inline !important;vertical-align:middle;}
	.menu_point{color:#ddd;float:right;font-size:26px;}



/*--车辆状态--*/
.scoll_txt{border-bottom:#8c8e91 2px solid;height:25px;width:100%;position:fixed; top:0;left:0;padding:5px 12px;background-color:#1d2228;z-index:999;}
	.loudspeakers_algn{position:absolute;}
	.scroll_notes{width:100%;margin-left:30px;height:100%;color:#f5b220;}
	.img_scale25{max-width:25px; max-height:25px;}
.main_Carstatus{padding:10px;position:relative;margin-top:40px;}
	.main_Carstatus p,.main_Carstatus span{color:#fff;}
	.main_Carstatus p img,.main_Carstatus span img{padding-left:10px;max-width:70px;}
	.main_Carstatus p{float:right;}
	.meter_algn{display:block;margin:10px auto;max-width:200px;}
		.meter_txt{display:block;text-align:center;font-weight:900;font-size:58px;color:#fff;top:100px;left:50%;margin:-140px auto;}
			.carry_out{top:220px;font-weight:bolder;position:relative;text-align:center;}
				.carry_out span{color:#db420a;}
				.carry_out img{ max-height:50px;position:absolute;top:-25px;right:-5px;}
				.operate_car{position:absolute;right:0px;top:270px;padding-right:12px;font-weight:bold;}
					.lock_color{color:#f3ac17;}
					.unlock_color{color:#67b514;}
					.jinbao{cooor:d43028;}
	.img_scale80{max-width:80px;max-height:80px;}
	.carbutton{top:300px; border-top:#8c8e91 2px solid;width:100%;text-align:center;position:absolute;height:200px;}
		.carbutton td,.carbutton th{width:50%;height:50%;border-top:1px solid #34383d;border-left:1px solid #34383d; padding-top:20px;}
		.carbutton td:nth-child(1),.carbutton th:nth-child(1){border-left:none;}
		.carbutton th{border-bottom:none;}


/*--开车记录--*/
.nav_top{height30px;width:100%;position:fixed; top:0;left:0; background-color:#1d2228;line-height:30px; height:50px;}
	.nav_algn{width:100%; padding-top:10px;}
		.nav_algn ul{display:box; display: -webkit-box; width:100%; border-bottom: 1px solid #34393e;}
		.nav_algn ul li{box-flex:1; -webkit-box-flex: 1; cursor:pointer; text-align:center;}
			.nav_algndown{color:#fff; border-bottom:2px solid #fff;}
.sum_infor{padding:15px 10px; border-bottom: 1px solid #ddd; position:relative;}
	.sum_l{display:inline-block; padding-right:10px;}
	.sum_r{border-left:1px solid #ddd;display:inline-block;padding-left:10px;}
		.sum_infor em{position:absolute; right:10px; top:20px;}
.sum_listlayout{padding:0px 15px 15px 10px;}
	.sum_listlayout dl{border-bottom:1px solid #ddd;}
		.sum_listlayout dl dt{border-top:1px solid #ddd; height:auto; padding:15px 0px;}
			.sum_listlayout dl dt:first-child{border-top: 0px;}
			.number_style{font-size:20px;}
			.sum_align{margin-top:-30px; margin-left:30px;}
			.sum_listlayout em{float:right; margin-top:-30px;}
			.address_gdp{ padding-left:27px;}
			.sum_listlayout i{font-style:normal; float:right;}
	
			

/*--位置显示--*/
.gdp_algn{position:absolute;margin:0 10px;z-index:100;overflow:hidden;right:0;left:0;bottom:10px;border:1px solid #ddd; background-color:rgb(250,253,248);opacity:.8;filter:alpha(opacity=80);color:#090b0c;padding:10px;}
	.gdp_algn span{font-weight:bold;}
	.gdp_algn li{float:left;width:50%;line-height:25px;margin-bottom:5px;}
	.arrow_algn{position:absolute;bottom:120px;right:6px;z-index:100;}







/*---UI组件（采用div标签架构）---*/
/***控制一个框架的上下边框与内容自适应的高度***/
.full_collumn{border-top:1px solid #ddd; border-bottom:1px solid #ddd; height:auto; overflow:hidden;}
	
/***标题栏(--推荐使用该样式控制标题栏，可以自由替换图片（图片20piexl*20piexl）省代码--)***/
	.collumn_title{padding:10px 20px 10px 10px; border-bottom:1px solid #ddd;}
		.menu_layout h4,.collumn_title h4,.collumn_title h3{display:inline; padding-left:5px;}
		
/***右侧图标定位（包含弹出层）***/
		.date_algn{position:relative;float:right;top:5px;}
		.date_img{ cursor:pointer;}
		
/***标题栏（以背景图插入logo的标题栏）		
.collumn_title2{background:url(../img/etc/icon1.png) no-repeat 15px center #f6f5f5;padding-left:30px;height:45px;line-height:45px;padding-right:15px;}
	.collumn_title2 h3{display:inline;}***/
		
		
/***弹窗 开始***/
.date1_algn{position:relative;right:0px;z-index:1;float:right;} 
			.popping{ position:absolute; top:30px; right:-10px; z-index:1;}
				.point{position:absolute; top:-7px; left:70px; }
				.popping_menu{ width:100px; height:auto;background:#363636;border-radius:5px;z-index:1;}
					.popping_menu li{width:100px;height:35px;line-height:35px;text-align:center;color:#FFF};
						.popping_menu li a{text-decoration:none;color:#fff;}
							.popping_menu li .poppingdownB{background:#212121;padding:7.5px 10.5px;}						
/***弹窗 结束***/				
	.collumn_main{padding:20px 10px; overflow:hidden;position:relative;}/***主体栏（即中间栏）不设上下边框***/
	.head_img{float:left;display:inline;}
		.portrait_2,.portrait_1{border-radius:50%;height:70px;width:70px;vertical-align:middle; overflow:hidden;}
			.portrait_1{border:2px solid #f6f5f5;}
			.portrait_2{border:2px solid #487095;}
		.collumn_main p{margin-left:90px;padding-top:10px;}
		
/***控制靠右的按钮样式（具体位置只适应该模块）***/
		.twobtn_verticalR{position:absolute;right:5px;top:20px;}
			.twobtn_verticalR i{font-style:normal; display:block;}
			.contact_bt {position:absolute; right:5px; top:40px;}
/*控制低栏的下边框和高度*/
	.collumn_text{border-top:1px solid #ddd;padding:10px ;overflow:hidden;}
	
	
/*--功能组件--*/
/***三栏菜单与两栏菜单***/
.table_3column, .table_2column{width:100%;text-align:center;}
.table_3column td ,.table_2column td{border:1px solid #ddd;padding:10px;}
.table_3column td:nth-last-child(3),.table_3column td:nth-last-child(2),.table_3column td:last-child,.table_2column td:nth-last-child(2),.table_2column td:last-child{border-bottom:none;}
.table_2column td{width:50%; height:155px;}
.table_3column td{width:33%;height:25%;}
	.table_3column span,.table_2column span{display:block;padding-bottom:10px;}
		.table_3column  p img,.table_2column  p img{width:50px;}


/*---我的二维码---*/
.dimensionCode {padding:30px 0px;}
.dimensionCode_infor{position:relative;left:0px;right:0px;margin:auto; width:300px; padding:30px 0 30px;}
.dimensionCode_infor table{ width:100%; }
	.dimensionCode_infor td:first-child{width:40%;}
.dimensionCode_main img{width:250px; display:block;margin:0 auto;}
.dimensionCode_main p{text-align:center; color:#646464; margin-top:10px; font-size:16px;}


/*--交车界面--*/
	/***搜索框***/
.search_top{width:100%; height:auto; top:0; background:#5baefd; padding:10px 0px; }
	.search_algn{margin:0 auto; width:90%; height:45px; display:box; display:-webkit-box;}
		.search_algn p{ -webkit-box-flex:3; box-flex:3;}
		.search_input{width:100%; background:#3796ef; border-radius: 7px 0px 0px 7px; color:#fff; padding-left:15px; height:100%; line-height:45px; }
		.search_algn i{font-style:normal; -webkit-box-flex:1; box-flex:1;}
		.search_search{ background:url(../Img/etc/search1.png) no-repeat center #3796ef; border-radius: 0px 7px 7px 0px; cursor: pointer; width:55px; height:100%; background-size: 25px 26px; outline:0;}
		
	/***普通表单：表单+表头/文字+输入框（交车信息表）***/
.submit_main{margin-top:10px; }
	.submit_main ul{width:90%;margin:0 auto; border:1px solid #ddd;}
	.mainC_list1 ul li,.selectput_list ul li,.menu_layout ul li,.submit_main  ul li{line-height:35px; height:auto; background:#fff; border-top:1px solid #ccc; position:relative; padding:8px 10px;}
	.selectput_list  ul li:after, .menu_layout  ul li:after, .submit_main  ul li:after{content: ' '; position: absolute; top: 50%; margin-top: -5px; right: 15px;width: 8px;height: 8px; border: #9e9e9e solid; -webkit-transform: rotate(45deg); -moz-transform: rotate(45deg);}
	.submit_main  ul li:after{border-width: 0 2px 2px 0; }
	.selectput_list ul li.noArrow:after, .submit_main  ul li.noArrow:after{ border:0px;}
		.submit_main  ul li:first-child{background:#bebebe; text-align:left; padding-left:15px; height:20px; line-height:20px; color:#fff;}
			.selectput_list ul li .input, .submit_main  ul li .input{width: 100%; height: 24px; line-height: 24px; padding: 0px; background: none; border: none; color: #444;}
			.mainC_list1 ul li .li-l,.submit_main  ul li .li-l{position:absolute; left:15px; top:50%; margin-top: -18px;}
			.mainC_list1 ul li .li_r, .submit_main  ul li .li-r{position: relative; margin-left: 90px; top: 0px; border-left: 1px solid #ddd; margin-right: 10px; height: auto!important; min-height:24px; line-height:24px; overflow: hidden;padding-left:15px;}
			 .submit_main  ul li .li-r select.select{width: 100%;height:24px;line-height:24px; padding: 0px; background: none; border: none; position: absolute; }
			 .submit_main  ul li .li-r .select_input{position: absolute; width:100%; top:5px; }	
			 
	/***圆角表单：图像+输入框(试驾预约)***/
.mainC_list1, .selectput_list{margin:10px 10px 0px 10px; }
.mainC_list1  ul li , .selectput_list ul li{line-height:35px; height:auto; background:#fff; border-left:1px solid #ddd; border-right:1px solid #ddd; position:relative; padding:8px 10px;}
	.mainC_list1 ul li:first-child , .selectput_list ul li:first-child{ border-radius:10px 10px 0 0; border-top:1px solid #ddd;}	
	.mainC_list1 ul li:last-child, .selectput_list ul li:last-child{ border-radius:0 0 10px 10px;  border-bottom:1px solid #ddd;}	
 .selectput_list ul li .li_r, .mainC_list ul li .li_r{ margin-top: -35px; margin-left: 30px; height:auto !important;  position: relative; padding-right:10px;}
/*.mainC_list1, .selectput_list ul li:first-child{border}*/
.textarea_list{margin:10px 10px 0px 10px; border-radius:10px; background:#fff;border:1px #ddd solid; overflow: hidden; padding:10px;}
.selectput_list  dl{width: 100%; padding: 0px; background: none; border: none; position: absolute; top: 28px; z-index:9999; border:1px solid #ddd; background:#fff; overflow:hidden;}
.selectput_list  dl dd{height:26px; line-height:26px; width: 100%; border-bottom:1px solid #ddd; padding-left:10px;}
	.selectput_list  dl dd:last-child{border-bottom:0px;}
	 
			 	 
	/***底部固定栏***/
.footer_h50{position:fixed; bottom:0px; width:100%; border:1px solid #5eb0fd; }
	.footer_h50 ul{height:auto; width:100%;}
		.footer_h50 ul li{float:left; height:auto; width:50%;}
			.footer_l{background:#5eb0fd; color:#fff; text-align:center; line-height:50px;}
			.footer_r{background:#fff; text-align:center; line-height:50px; color:#3e9efa;}
			
/***个人中心***/
.img_middle img{display:block; margin:0 auto;}
.menu_layout ul{width:100%; border:1px solid #ddd;}
	.menu_layout ul li:first-child{ border-top:0px; }
	.selectput_list ul li:after,.menu_layout ul li:after{ border-width: 2px 2px 0 0;}
	
	
	
	


/***验证码表格***/
.bt_identify{position:absolute; right:0px;  border-radius:0 0 10px 0; color:#fff; text-align:center; height:40px; line-height:40px; top:0; padding:0 10px;}
